<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476959757039-fp0449r842keqgjs6bl8f4vrevaecepj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476959757039-fp0449r842keqgjs6bl8f4vrevaecepj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476959757039-pubotn1enl5kkd9hq9i1r8cntt9bh6tm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAX0wQn4lPcel21ZRk_XSSYeN7Dr6B6yh8</string>
	<key>GCM_SENDER_ID</key>
	<string>476959757039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cts.VanityPass</string>
	<key>PROJECT_ID</key>
	<string>vanity-pass</string>
	<key>STORAGE_BUCKET</key>
	<string>vanity-pass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476959757039:ios:bd8f2f1d4877302f</string>
	<key>DATABASE_URL</key>
	<string>https://vanity-pass.firebaseio.com</string>
</dict>
</plist>